<p-table
  [value]="countries()"
  [tableStyle]="{ 'min-width': '50rem' }"
  scrollHeight="500px"
>
  <ng-template #header>
    <tr class="position-sticky top-0">
      <th>Código</th>
      <th>Bandera</th>
      <th>Nombre</th>
      <th>Capital</th>
      <th>Población</th>
    </tr>
  </ng-template>
  <ng-template #body let-country>
    <tr>
      <td>{{ country.flag }}</td>
      <td>
        <img [src]="country.flagSvg" [alt]="country.name" width="40" />
      </td>
      <td>{{ country.name }}</td>
      <td>{{ country.capital }}</td>
      <td>
        <span class="badge custom-bg-primary">
          {{ country.population | number }}
        </span>
      </td>
    </tr>
  </ng-template>
</p-table>

@if (errorMessage()) {
<div class="h-200px d-flex align-items-center justify-content-center">
  <p colspan="8" class="text-center fw-bold fs-5">
    {{ errorMessage() }}
  </p>
</div>
}
<!---->
@if (countries().length === 0 && !isLoading() && !errorMessage()) {
<div class="h-200px d-flex align-items-center justify-content-center">
  <p colspan="8" class="text-center fw-bold fs-5">
    No se encontraron resultados
  </p>
</div>
}
<!---->
@if (isLoading()) {
<div class="h-200px d-flex align-items-center justify-content-center">
  <p colspan="8" class="text-center fw-bold fs-5">Buscando paises...</p>
</div>
}
